/*All body style*/
body{
    margin: 0px;
    padding: 0px;
    
}

/*Section style*/
.flexible-container{
    display: flex;
   
}


/*half-width 50% style*/
.half-width{
    width: 50%;
    padding: 40px;
}

/*half width images style*/
.half-width img{
    width: 100%;

}

/*h1 all tag style*/
h1{
    color: chocolate;
    font-size: 41px;
    font-family: 'Audiowide', cursive;
}

/*h1 all tag style*/
h2{
    font-size: 33px;
}

/*All p tag  style*/
p{
    color: rgba(0, 0, 0, 0.678);
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

/*All span tag  style*/
span{
    color: blue;
}

/*link-button  style*/
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(194, 62, 10));
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 800;
}

/*About-me section style*/
.about-me{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
}

.big-img{
    margin-bottom: -145px;
    height: 100%;
}


/*About-section in h1 and p in top-space style*/
#top-space{
    padding-top:  100px;
}
.fontsize{
    text-align: center;
    padding-left:  290px;
    padding-right: 290px;
}
.sundor-one{
    margin-left: 260px;
    margin-right: 30px;
    padding: 10px;
    padding-left: 10px;
    border: 10px solid rgb(223, 220, 220);
    box-shadow: 2px 3px 2px 5px rgb(78, 77, 77);
}
.sundor-two{
    margin-right: 260px;
    margin-left: 30px;
    padding: 10px;
    border: 10px solid rgb(223, 220, 220);
    box-shadow: 2px 3px 2px 5px rgb(78, 77, 77);
}
h2{
    font-size: 25px;
}



/*Followers section*/

.followers{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 10px 5px black;
}

.dribbble{
    padding-left: 175px;
    padding-bottom: -220px;
}

h4{
    font-size: 16px;
    padding-bottom: -220px;
}


/*Footer section*/
footer{
    background-color: rgb(121, 122, 121);
    padding: 10px;
    color: aliceblue;
}
